
.dataTables_length label select {
    margin-right: 5px;
}

.kv-hidden {
    display: none;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c3c3c3;
}
.swal2-confirm{
    background-color: #02c0ce !important;
}
.swal2-cancel{
    background-color: #f1556c !important;
}
.swal2-container.swal2-shown {
    background-color: rgba(49, 58, 70, 0.9);
}