.pagination {
    padding-left: 40px !important;
}

.dataTables_wrapper .row {
    width: 100%;
    margin-left: 5% !important;
}

.hide {
    display: none !important;
}

/*.in{*/
/*opacity: 1 !important;*/
/*}*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(76,80,92,0.09);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
    .rig-lef {
        right: 0;
        left: 0;
    }
}

.in {
    opacity: 1 !important;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #313a46;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
    background-color: #02c0ce;
    color: #ffffff;
}

.select2-dropdown .select2-search--dropdown:before {
    content: '\f1c3' !important;
    font-size: 1.5rem !important;
    color: #707070 !important;
    position: absolute !important;
    left: 1.4rem !important;
    top: .65rem !important;
}

.dataTables_filter:after, .dataTables_length:after, .dropzone .dz-message span:before, .dropzone .dz-preview .dz-remove:before, .dropzone:before, .event-tag > span > i:before, .fc-icon, .paginate_button.next:before, .paginate_button.previous:before, .select2-dropdown .select2-search--dropdown:before {
    font-family: Material-Design-Iconic-Font;
}

.select2-dropdown {
    background-color: #FFF !important;
    border: 0 !important;
    border-radius: 2px !important;
    padding: .8rem 0 !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .075) !important;
    z-index: 9 !important;
    -webkit-animation-name: fadeIn !important;
    animation-name: fadeIn !important;
    -webkit-animation-duration: .3s !important;
    animation-duration: .3s !important;
    animation-fill-mode: both !important;
}

.select2-dropdown .select2-search--dropdown {
    margin-top: -.5rem !important;
    border-bottom: 1px solid #f9f9f9 !important;
    position: relative !important;
    margin-bottom: 1rem !important;
}

.select2-dropdown .select2-search--dropdown .select2-search__field {
    border: 0 !important;
    background-color: transparent !important;
    height: 2.8rem !important;
    color: #464a4c !important;
    padding-left: 3.5rem !important;
}

.select2-dropdown .select2-results__option[aria-selected=true] {
    position: relative !important;
    padding-right: 1.5rem !important;
    background-color: #f7f7f9 !important;
    color: #1d1e1f !important;
}

.select2-dropdown .select2-results__option {
    padding: .65rem 1.5rem !important;
}

.select2-dropdown .select2-results__option[aria-selected=true]:before {
    font-family: Material-Design-Iconic-Font;
    content: '\f26b' !important;
    position: absolute !important;
    top: .45rem !important;
    right: 1.5rem !important;
    font-size: 1.3rem !important;
    color: #1d1e1f !important;
}

.select2-container .select2-selection--single {
    border-radius: 0 !important;
    border: 0 !important;
    background-color: transparent !important;
    border-bottom: 1px solid #f1f1f1 !important;
    height: auto !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
}

.select2-container .select2-selection--single:before {
    content: "" !important;
    position: absolute !important;
    pointer-events: none !important;
    z-index: 1 !important;
    right: 0 !important;
    bottom: 5px !important;
    width: 0 !important;
    height: 0 !important;
    border-style: solid !important;
    border-width: 0 0 8px 8px !important;
    border-color: transparent transparent #d1d1d1 !important;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    border-radius: 2px !important;
    border: 0 !important;
    background-color: #f9f9f9 !important;
    padding: .4rem .8rem !important;
    color: #464a4c !important;
}
.btn-row{
    width: 100% !important;
}
.dataTables_length:before{
    content: none!important;
}
