/*!
 Copyright (c) 2003-2017, CKSource - Frederico Knabben. All rights reserved.
 For licensing, see LICENSE.html or http://cksource.com/ckfinder/license
 */
html {
    font-size: 100%
}

body, input, select, textarea, button, .ui-btn {
    font-size: 1em;
    line-height: 1.3;
    font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif
}

legend, .ui-input-text input, .ui-input-search input {
    color: inherit;
    text-shadow: inherit
}

.ui-mobile label, div.ui-controlgroup-label {
    font-weight: normal;
    font-size: 16px
}

.ui-field-contain {
    border-bottom-color: #828282;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-bottom-width: 1px;
    border-bottom-style: solid
}

.table-stroke thead th, .table-stripe thead th, .table-stripe tbody tr:last-child {
    border-bottom: 1px solid #d6d6d6;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.table-stroke tbody th, .table-stroke tbody td {
    border-bottom: 1px solid #e6e6e6;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.table-stripe.table-stroke tbody tr:last-child th, .table-stripe.table-stroke tbody tr:last-child td {
    border-bottom: 0
}

.table-stripe tbody tr:nth-child(odd) td, .table-stripe tbody tr:nth-child(odd) th {
    background-color: #eee;
    background-color: rgba(0, 0, 0, 0.04)
}

.ui-btn, label.ui-btn {
    font-weight: bold;
    border-width: 1px;
    border-style: solid
}

.ui-btn {
    text-decoration: none !important
}

.ui-btn-active {
    cursor: pointer
}

.ui-corner-all {
    -webkit-border-radius: .3125em;
    border-radius: .3125em
}

.ui-btn-corner-all, .ui-btn.ui-corner-all, .ui-slider-track.ui-corner-all, .ui-flipswitch.ui-corner-all, .ui-li-count {
    -webkit-border-radius: .3125em;
    border-radius: .3125em
}

.ui-btn-icon-notext.ui-btn-corner-all, .ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: 1em;
    border-radius: 1em
}

.ui-btn-corner-all, .ui-corner-all {
    -webkit-background-clip: padding;
    background-clip: padding-box
}

.ui-popup.ui-corner-all > .ui-popup-arrow-guide {
    left: .6em;
    right: .6em;
    top: .6em;
    bottom: .6em
}

.ui-shadow {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)
}

.ui-shadow-inset {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2)
}

.ui-overlay-shadow {
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6)
}

.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
    background-position: center center;
    background-repeat: no-repeat
}

.ui-btn.ui-checkbox-off:after, .ui-btn.ui-checkbox-on:after, .ui-btn.ui-radio-off:after, .ui-btn.ui-radio-on:after {
    display: block;
    width: 18px;
    height: 18px;
    margin: -9px 2px 0 2px
}

.ui-checkbox-off:after, .ui-btn.ui-radio-off:after {
    filter: alpha(opacity=30);
    opacity: .3
}

.ui-btn.ui-checkbox-off:after, .ui-btn.ui-checkbox-on:after {
    -webkit-border-radius: .1875em;
    border-radius: .1875em
}

.ui-btn.ui-checkbox-off:after {
    background-color: #666;
    background-color: rgba(0, 0, 0, 0.3)
}

.ui-radio .ui-btn.ui-radio-on:after {
    background-image: none;
    background-color: #fff;
    width: 8px;
    height: 8px;
    border-width: 5px;
    border-style: solid
}

.ui-alt-icon.ui-btn.ui-radio-on:after, .ui-alt-icon .ui-btn.ui-radio-on:after {
    background-color: #000
}

.ui-popup .ui-btn {
    font-size: 12.5px
}

.ui-loader {
    padding: 30px;
    width: auto
}

.ui-loader .ui-icon-loading {
    background: url("images/ajax-loader.gif?ver=i42irv") center center no-repeat;
    width: 46px;
    height: 46px
}

.ckf-feature-css-transition .ui-loader .ui-icon-loading {
    opacity: 1;
    font-size: 0;
    line-height: 0;
    margin: 0 auto 30px;
    position: relative;
    width: 60px;
    height: 60px;
    background: transparent;
    box-shadow: inset 0 0 0 5px #333;
    -moz-box-shadow: inset 0 0 0 5px #333;
    -webkit-box-shadow: inset 0 0 0 5px #333
}

.ckf-feature-css-transition .ui-loader .ui-icon-loading, .ckf-feature-css-transition .ui-loader .ui-icon-loading:before, .ckf-feature-css-transition .ui-loader .ui-icon-loading:after {
    border-radius: 50%
}

.ckf-feature-css-transition .ui-loader .ui-icon-loading:before, .ckf-feature-css-transition .ui-loader .ui-icon-loading:after {
    position: absolute;
    content: '';
    width: 32px;
    height: 64px;
    background: #fff;
    top: -2px
}

.ckf-feature-css-transition .ui-loader .ui-icon-loading:before {
    border-radius: 60px 0 0 60px;
    left: -2px;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-animation: ui-loader-anim 2s infinite ease 1.5s;
    animation: ui-loader-anim 2s infinite ease 1.5s
}

.ckf-feature-css-transition .ui-loader .ui-icon-loading:after {
    border-radius: 0 60px 60px 0;
    left: 30px;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-animation: ui-loader-anim 2s infinite ease;
    animation: ui-loader-anim 2s infinite ease
}

@-webkit-keyframes ui-loader-anim {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes ui-loader-anim {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: #e9e9e9;
    border-color: #9e9e9e;
    color: #333;
    text-shadow: 0 1px 0 #eee;
    font-weight: bold
}

.ui-bar-a {
    border-width: 1px;
    border-style: solid
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: #f9f9f9;
    border-color: #bbb;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3
}

.ckf-files-page .ckf-page-regions .ui-header {
    border-color: #9e9e9e;
    border-width: 0 1px
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    background-color: #fff;
    border-color: #9e9e9e;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3
}

.ui-body-a {
    border-width: 1px;
    border-style: solid
}

.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    color: #38c;
    font-weight: bold
}

.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited {
    color: #38c
}

.ui-page-theme-a a:hover, html .ui-bar-a a:hover, html .ui-body-a a:hover, html body .ui-group-theme-a a:hover {
    color: #059
}

.ui-page-theme-a a:active, html .ui-bar-a a:active, html .ui-body-a a:active, html body .ui-group-theme-a a:active {
    color: #059
}

.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
    text-shadow: 0 1px 0 #f3f3f3;
    color: #333;
    border: 1px solid #b6b6b6;
    background: #fff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGU0ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fff 0, #e4e4e4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(100%, #e4e4e4));
    background: -webkit-linear-gradient(top, #fff 0, #e4e4e4 100%);
    background: -o-linear-gradient(top, #fff 0, #e4e4e4 100%);
    background: -ms-linear-gradient(top, #fff 0, #e4e4e4 100%);
    background: linear-gradient(to bottom, #fff 0, #e4e4e4 100%)
}

.ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head + body .ui-btn.ui-btn-a:hover {
    background-color: #ededed;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
    border-color: #9e9e9e;
    background: #f2f2f2;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f2f2f2 0, #ccc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f2f2), color-stop(100%, #ccc));
    background: -webkit-linear-gradient(top, #f2f2f2 0, #ccc 100%);
    background: -o-linear-gradient(top, #f2f2f2 0, #ccc 100%);
    background: -ms-linear-gradient(top, #f2f2f2 0, #ccc 100%);
    background: linear-gradient(to bottom, #f2f2f2 0, #ccc 100%)
}

.ui-page-theme-a .ui-btn:active, html .ui-bar-a .ui-btn:active, html .ui-body-a .ui-btn:active, html body .ui-group-theme-a .ui-btn:active, html head + body .ui-btn.ui-btn-a:active {
    background: #e8e8e8;
    border-color: #9e9e9e;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3
}

.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head + body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-image: none;
    background-color: #38c;
    border-color: #38c;
    color: #fff;
    text-shadow: 0 1px 0 #059
}

.ui-page-theme-a .ui-radio-on:after, html .ui-bar-a .ui-radio-on:after, html .ui-body-a .ui-radio-on:after, html body .ui-group-theme-a .ui-radio-on:after, .ui-btn.ui-radio-on.ui-btn-a:after {
    border-color: #38c
}

.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head + body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head + body .ui-btn-a.ui-focus, html head + body .ui-body-a.ui-focus {
    -webkit-box-shadow: 0 0 12px #38c;
    -moz-box-shadow: 0 0 12px #38c;
    box-shadow: 0 0 12px #38c
}

.ui-disabled, .ui-state-disabled, button[disabled], .ui-select .ui-btn.ui-state-disabled {
    filter: alpha(opacity=30);
    opacity: .3;
    cursor: default !important;
    pointer-events: none
}

.ui-btn:focus, .ui-btn.ui-focus {
    outline: 0
}

.ui-noboxshadow .ui-shadow, .ui-noboxshadow .ui-shadow-inset, .ui-noboxshadow .ui-overlay-shadow, .ui-noboxshadow .ui-shadow-icon.ui-btn:after, .ui-noboxshadow .ui-shadow-icon .ui-btn:after, .ui-noboxshadow .ui-focus, .ui-noboxshadow .ui-btn:focus, .ui-noboxshadow input:focus, .ui-noboxshadow .ui-panel {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important
}

.ui-noboxshadow .ui-btn:focus, .ui-noboxshadow .ui-focus {
    outline-width: 1px;
    outline-style: auto
}

html .ckf-file-desc {
    border: 0
}

html .ui-listview > .ui-li-divider {
    padding: 0;
    height: 1px;
    border: 0;
    background: #e0e1e0
}

html .ckf-contextmenu > .ui-listview > li > a.ui-btn {
    background: #fff;
    font-weight: normal;
    border: 0
}

html .ckf-contextmenu > .ui-listview > li > a.ui-btn.ui-btn-icon-left {
    padding-left: 40px
}

html .ckf-contextmenu > .ui-listview > li > a.ui-btn.ui-btn-icon-right {
    padding-right: 40px
}

html .ckf-contextmenu > .ui-listview > li > a.ui-btn:hover, html .ckf-contextmenu > .ui-listview > li > a.ui-btn:focus {
    background: #eee
}

html .ckf-contextmenu > .ui-listview > li > a.ui-btn:after {
    top: 0;
    bottom: 0;
    width: 32px;
    height: auto;
    background-color: #e0e1e0;
    margin: 0;
    z-index: 1000
}

html .ckf-contextmenu > .ui-listview > li > a.ui-btn.ui-btn-icon-left:after {
    left: 0
}

html .ckf-contextmenu > .ui-listview > li > a.ui-btn.ui-btn-icon-right:after {
    right: 0
}

html .ckf-contextmenu > .ui-listview > li > a.ui-btn:focus:after {
    top: 2px;
    bottom: 2px;
    width: 30px;
    height: auto
}

html .ckf-contextmenu > .ui-listview > li > a.ui-btn.ui-btn-icon-left:focus:after {
    background-position: 6px center
}

html .ckf-contextmenu > .ui-listview > li > a.ui-btn.ui-btn-icon-right:focus:after {
    background-position: 8px center
}

html .ckf-contextmenu > .ui-listview > li > a.ui-btn:hover:after, html .ckf-contextmenu > .ui-listview > li > a.ui-btn:focus:after {
    background-color: #d8dad8
}

html .ckf-contextmenu > .ui-listview > li > a.ui-btn.ui-btn-icon-left:focus:after {
    left: 2px
}

html .ckf-contextmenu > .ui-listview > li > a.ui-btn.ui-btn-icon-right:focus:after {
    right: 2px
}

.ckf-dialog {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    overflow: hidden
}

.ckf-dialog label {
    font-size: inherit
}

.ckf-dialog .ui-header {
    height: 15px;
    padding: 6px 10px;
    background: #f5f5f5;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZmQxY2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f5f5f5 0, #cfd1cf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(100%, #cfd1cf));
    background: -webkit-linear-gradient(top, #f5f5f5 0, #cfd1cf 100%);
    background: -o-linear-gradient(top, #f5f5f5 0, #cfd1cf 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0, #cfd1cf 100%);
    background: linear-gradient(to bottom, #f5f5f5 0, #cfd1cf 100%)
}

.ckf-dialog .ui-header h1 {
    font-size: 13px;
    text-align: left;
    margin: 0;
    padding: 0;
    line-height: 16px
}

.ckf-rtl .ui-header h1 {
    text-align: right
}

.ckf-dialog .ckf-dialog-buttons {
    padding: 0 2px;
    outline: 1px solid #bfbfbf;
    -moz-box-shadow: 0 1px 0 #fff inset;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    background: #ebebeb;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZmQxY2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ebebeb 0, #cfd1cf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(100%, #cfd1cf));
    background: -webkit-linear-gradient(top, #ebebeb 0, #cfd1cf 100%);
    background: -o-linear-gradient(top, #ebebeb 0, #cfd1cf 100%);
    background: -ms-linear-gradient(top, #ebebeb 0, #cfd1cf 100%);
    background: linear-gradient(to bottom, #ebebeb 0, #cfd1cf 100%)
}

.ckf-dialog .ckf-dialog-buttons .ui-btn {
    padding: 5px 10px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    margin: 5px 3px
}

.ckf-dialog .ckf-dialog-buttons .ui-btn[data-ckf-button*="ok"] {
    color: #fff;
    text-shadow: 0 -1px 0 #55830c;
    border-color: #62a60a #62a60a #4d9200;
    background: #9ad717;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlhZDcxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2OWIxMGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #9ad717 0, #69b10b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9ad717), color-stop(100%, #69b10b));
    background: -webkit-linear-gradient(top, #9ad717 0, #69b10b 100%);
    background: -o-linear-gradient(top, #9ad717 0, #69b10b 100%);
    background: -ms-linear-gradient(top, #9ad717 0, #69b10b 100%);
    background: linear-gradient(to bottom, #9ad717 0, #69b10b 100%)
}

.ckf-dialog .ckf-dialog-buttons .ui-btn[data-ckf-button="ok"]:hover {
    border-color: #5b9909 #5b9909 #478500;
    background: #88be14;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg4YmUxNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZDljMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #88be14 0, #5d9c0a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #88be14), color-stop(100%, #5d9c0a));
    background: -webkit-linear-gradient(top, #88be14 0, #5d9c0a 100%);
    background: -o-linear-gradient(top, #88be14 0, #5d9c0a 100%);
    background: -ms-linear-gradient(top, #88be14 0, #5d9c0a 100%);
    background: linear-gradient(to bottom, #88be14 0, #5d9c0a 100%)
}

.ckf-dialog .ckf-dialog-contents {
    font-size: 12px
}

.ckf-dialog .ckf-dialog-contents td {
    font-size: 12px
}

.ckf-ui-mode-desktop #ckf-ei-actions .ui-collapsible-heading-toggle {
    border-right: 0
}

.ui-btn-active .ui-bar-a {
    color: #fff;
    text-shadow: none;
    background-color: #38c
}

.ui-alt-icon.ui-icon-check:after, .ui-alt-icon .ui-icon-check:after, html .ui-alt-icon.ui-btn.ui-checkbox-on:after, html .ui-alt-icon .ui-btn.ui-checkbox-on:after {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2214%2C4%2011%2C1%205.003%2C6.997%203%2C5%200%2C8%204.966%2C13%204.983%2C12.982%205%2C13%20%22%2F%3E%3C%2Fsvg%3E")
}

.ui-btn.ui-checkbox-off:after, .ui-btn.ui-checkbox-on:after, .ui-btn.ui-radio-off:after, .ui-btn.ui-radio-on:after {
    background-color: #666;
    background-color: rgba(0, 0, 0, 0.15)
}

.ui-controlgroup-controls .ui-radio .ui-btn:after {
    border-radius: 1em
}

.ui-alt-icon.ui-btn.ui-radio-on:after, .ui-alt-icon .ui-btn.ui-radio-on:after {
    background-color: #fff
}

.ckf-upload-list li .ckf-upload-item-error, .ckf-upload-list li .ckf-upload-item-ok {
    text-shadow: none;
    color: #fff
}

.ckf-upload-list li .ckf-upload-item-error:hover, .ckf-upload-list li .ckf-upload-item-ok:hover, .ckf-upload-list li .ckf-upload-item-error:focus, .ckf-upload-list li .ckf-upload-item-ok:focus {
    text-shadow: none;
    color: #fff
}

.ckf-upload-list li .ckf-upload-item-error {
    background: #9f041b !important
}

.ckf-upload-list li .ckf-upload-item-error:hover, .ckf-upload-list li .ckf-upload-item-error:focus {
    background: #ae041e !important
}

.ckf-upload-list li .ckf-upload-item-ok {
    background: #429321 !important
}

.ckf-upload-list li .ckf-upload-item-ok:hover, .ckf-upload-list li .ckf-upload-item-ok:focus {
    background: #489f24 !important
}

label.ckf-choose-resized-image-label {
    font-size: inherit
}

.ckf-move-copy-dialog .ui-listview li.ui-li-has-alt a.ui-btn.ckf-folders-tree-expander:after {
    top: 19px
}

.ui-radio-off:after, .ui-radio-on:after {
    -webkit-border-radius: 1em;
    border-radius: 1em
}

.ckf-files-list-view {
    font-size: .9em
}

.ckf-files-list-view td.ckf-files-list-view-col-name a:not(.ui-btn-active):hover {
    background: #eee none
}